<div class="row">
    <div class="h3 col-12 text-center">
        <select (change)="search()" [(ngModel)]="ticker">
            <option *ngFor="let stock of stocks" [value]="stock.ticker">{{ stock.ticker }}</option>
        </select>
    </div>
    <div class="h5 col-12 text-center">
        <label for="contracts">Contracts</label>
        <input id="contracts" style="width: 50px" type="number" min="1" step="1" [(ngModel)]="count"/>
    </div>
</div>
<div class="row" *ngIf="dashboard && count">
    <div class="col-6" *ngIf="dashboard.price">
        <table class="table table-bordered table-hover table-sm">
            <caption>Quote details</caption>
            <tbody>
            <tr>
                <td>Long Name</td>
                <td><a href="https://finance.yahoo.com/quote/{{dashboard.ticker}}"
                       target="_blank">{{dashboard.name}}</a></td>
            </tr>
            <tr>
                <td>Last Price</td>
                <td class="font-weight-bold">{{dashboard.price | currency}}</td>
            </tr>
            <tr>
                <td>52 Week Low</td>
                <td>{{dashboard.fiftyTwoWeekLow | currency}}</td>
            </tr>
            <tr>
                <td>52 Week High</td>
                <td>{{dashboard.fiftyTwoWeekHigh | currency}}</td>
            </tr>
            <tr>
                <td>Total Cost</td>
                <td class="font-weight-bold">{{(dashboard.price * count * 100) | currency:'':'$':'1.0-0'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <table *ngIf="dashboard.dividends" class="table table-bordered table-hover table-sm">
            <caption>Last year dividends</caption>
            <tr>
                <th>Date</th>
                <th>Value</th>
            </tr>
            <tbody>
            <tr *ngFor="let div of dashboard.dividends">
                <td>{{div.Date}}</td>
                <td>{{div.Dividends | currency}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" *ngIf="dashboard && count">
    <div class="col-6" *ngFor="let dashboardOption of dashboard.dashboardOptions">
        <table class="table table-bordered table-hover table-sm">
            <tr>
                <td>Expiration</td>
                <td>{{dashboardOption.expiration}}</td>
            </tr>
            <tr>
                <td>Days</td>
                <td>{{dashboardOption.expirationDays}}</td>
            </tr>
            <tr>
                <td>
                    {{dashboard.price * 1.05 | currency}} <span
                    class="font-weight-bold">({{0.05 | percent:'1.2-2'}})</span>
                </td>
                <td>{{(dashboard.price * dashboardOption.calculatedPercentProfit * 100 * count) | currency:'':'$':'1.0-0'}}
                    <span
                        class="font-weight-bold">({{dashboardOption.calculatedPercentProfit | percent:'1.2-2'}})</span>
                </td>
            </tr>
        </table>
        <table class="table table-bordered table-hover table-sm">
            <thead>
            <tr>
                <th>Strike</th>
                <th>Volume (OI)</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Div.</th>
                <th>Total</th>
                <th>Delta (%)</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let option of dashboardOption.options; let i=index" [ngClass]="{
                'table-success': -0.1 < option.strikePercent && option.strikePercent < 0.1,
                'table-warning': -0.1 > option.strikePercent || option.strikePercent > 0.1,
                'table-danger': -0.25 > option.strikePercent || option.strikePercent > 0.25}">
                <td>{{option.strike | currency}} <span class="font-weight-bold"> ({{option.strikePercent | percent:'1.2-2'}})</span></td>
                <td>{{option.volume}} ({{option.openInterest}})</td>
                <td>{{option.strikePrice | currency}}</td>
                <td>{{option.profit * count | currency}}</td>
                <td>{{option.profitDiv * count | currency}}</td>
                <td>
                    {{option.profitTotal * count * 100 | currency:'':'$':'1.0-0'}}
                    <span class="font-weight-bold"> ({{option.profitPercent | percent: '1.2-2'}})</span>
                </td>
                <td>{{i == 0 ? '-' : option.profitPercent - dashboardOption.options[i-1].profitPercent | percent: '1.2-2'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
